html, body
{
	padding: 0px;
	margin: 0px;
	height: 100%;
}
.viewport
{
	height: 100%;
}
/* colors */
.c_gray
{
	background-color: #f0f0f0;
}
.c_petrol
{
	background-color: #003232;
}
.c_anthracite
{
	background-color: #1c1f22;
}
/* div page layout */
div.layer1
{
	clear: both;
	position: fixed;
	top: 0;
	height: 60%;
	width: 100%;
}
div.layer2
{
	clear: both;
	position: fixed;
	bottom: 0;
	height: 40%;
	width: 100%;
}
/*  */
div.split
{
	display: flex;
	padding: 0;
}
div.left
{
	flex-grow: 1;
}
div.right
{
	flex-grow: 1;
}
/*  */
div.greeting
{
	font-family: consolas;
	font-size: 18pt;
}