html, body
{
	padding: 0px;
	margin: 0px;
}
.viewport
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* page layout */
div.split
{
	display: flex;
}
div.left
{
	flex-grow: 1;
	width: 40%;
}
div.right
{
	flex-grow: 1;
	width: 60%;
}
div.upper
{
	clear: both;
	position: fixed;
	top: 0;
	height: 60%;
	width: 100%;
}
div.lower
{
	clear: both;
	position: fixed;
	bottom: 0;
	height: 40%;
	width: 100%;
}

/* page overlay */
div.skew
{
    top: -500px;
    right: 0;
    left: 0;
    bottom: 0;
	transform: skewY(-11deg);
}