html, body
{
	padding: 0px;
	margin: 0px;
	height: 100%;
}
.viewport
{
	height: 100%;
}
/* div page layout */
div.top
{
	clear: both;
	position: fixed;
	top: 0;
	height: 70%;
	width: 100%;
}
div.bottom
{
	clear: both;
	position: fixed;
	bottom: 0;
	height: 30%;
	width: 100%;
}
div.split
{
	display: flex;
	padding: 0;
}
div.left
{
	flex-grow: 1;
	color: #fff;
}
div.right
{
	flex-grow: 1;
	color: #fff;
}
/*  */
div.greeting
{
	font-family: consolas;
	font-size: 18pt;
}