/* page layout */
div.split
{
	display: flex;
}
div.left
{
	flex-grow: 1;
	width: 35%;
}
div.right
{
	flex-grow: 1;
	width: 65%;
}
/* page overlay */
div.skew
{
	transform: skewY(-12deg);
	height: 400px;
}
div.upper 
{
	top: 0;
	height: 600px;
}
div.lower 
{
	top: 600px;
}
