.logo
{
  	position: relative;
  	top: -75px;
  	left: -15px;
  	height: 300px;
  	width: 300px;
  	background-image: url('../img/avatar.gif');
}

.triangle 
{
  	border-bottom: 100px solid #f0f0f0;
  	border-left: 300px solid transparent;
  	position: absolute;
  	width: 0px;
  	bottom: 0px;
  	right: 0px;
}
