/* navigation bar layout */
.navbar
{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	width: 100%;
	height: auto;
	font-size: 0; /*shrinks unwanted newline spaces*/
}
.navbar_header
{
	width: 100%;
	height: calc(100% - 10px);
	padding: 20px 0px 20px 0px;
	
	text-align: justify; /* spaces divs evenly. use with stretch class */
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
span.navbar_stretch 
{
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}
.navbar_shade
{
	opacity: 0.2;
	width: 100%;
	height: 5px;
}
.navbar_offset
{
	width: 100%;
	height: 105px;
}
/* navigation bar items */
.navbar_item, .navbar_btn, .navbar_logo
{
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px 0px 10px;
	font-size: 20px;
	text-align: center;
	height: 80px;
}
.navbar_logo
{
	width: 310px;
}
.navbar_btn
{
	width: 200px;
	background-color: #f00;
}
/* navigation content */
.navbar_content
{
	width: 100%;
	height: 0px;
			transition: height 0.1s; /* smooths resizing */
	-webkit-transition: height 0.1s;
}
@media screen and (max-width: 1010px)
{
	.navbar_logo
	{
		display: block;
	}
}
@media screen and (max-width: 620px)
{
	.navbar
	{
		display: none;
	}
}
