/* navigation bar layout */
.navbar
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: auto;
}
.navbar_header
{
	width: 100%;
	height: calc(100% - 10px);
	padding: 10px 0px 10px 0px;
}
.navbar_shade
{
	opacity: 0.2;
	width: 100%;
	height: 10px;
}
.navbar_offset
{
	width: 100%;
	height: 110px;
}

/* navigation bar items */
.navbar_item
{
	vertical-align: top;
	display: inline-block;
	background-color: #f00;
	
	width: 160px;
	height: 80px;
	margin-right:50px;
	
			transition: height 0.1s; /* aids javascript resizing */
	-webkit-transition: height 0.1s;
}
