.slogan
{
	position: relative;
	top: 200px;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	width: 300px;
	
	font-family: Consolas;
	font-size: 18pt;
	font-style: italic;
}
.txt_dark
{
	color: #1c1f22;
}
.txt_light
{
	color: #fff;
}
a.txt_link
{
	text-decoration: none;
	vertical-align: middle;
	color: #fff;
	font-family: consolas;
	font-size: 25px;
}
.copynotice
{
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: Consolas;
	font-size: 10pt;
}