html, body
{
	padding: 0px;
	margin: 0px;
	background-color: #f0f0f0;
}
/* content markup */
.content
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	font-family: Consolas;
}
.content p
{
	margin: 0px;
	padding: 10px 60px 10px 60px;
}
/* chapter header */
.chapter
{
	padding: 10px 60px 10px 40px;
	font-size: 32px;
	font-weight: bold;
}
.chapter a
{
	position: relative;
	left: -19px;
}
/*  */
img.content_image
{
	width: 660px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #ddd;
	border-radius: 20px;
}
/* code-segment style */
div.codeblock
{
	margin: 10px 60px 10px 60px;
	border: 10px solid #ddd;
	border-radius: 20px;
}
