html, body
{
	padding: 0px;
	margin: 0px;
	background-color: #f0f0f0;
}
div.title
{
	width: 100%;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	margin-top: 60px;
}

/* table of content */
div.toc
{
	width: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
div.toc a
{
	color: #000;
	font-size: 24px;
	text-decoration: none;
}

/* chapter header */
.chapter
{
	margin: 50px 0px 0px 0px;
	padding: 10px 60px 10px 40px;
	font-size: 32px;
	font-weight: bold;
}
.chapter a
{
	position: relative;
	left: -19px;
}

/* content markup */
.content
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	font-family: Consolas;
}
.content p
{
	margin: 0px;
	padding: 10px 60px 10px 60px;
}

/*  */
img.image_pane
{
	width: 660px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #ddd;
	border-radius: 20px;
}
.image_desc
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 12px;
	font-style: italic;
}

/* code-segment style */
div.codeblock
{
	background-color: #1f1f1f;
	margin: 10px 60px 10px 60px;
	border: 10px solid #ddd;
	border-radius: 20px;
}
